.about-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  line-height: 1.5rem;
  font-size: 18px;
  text-indent: 2rem;
}

@media all and (orientation:portrait) {
  .about-page {
    width: calc(100vw - 60px);
    padding: 0 20px;

  }

}

@media all and (orientation:landscape) {
  .about-page {
    width: calc(100vw - 310px);
    padding:30px;
  }
}


.about-page i {
  padding-top: 30px 0;
}
