.themeButton {
  text-align: center;
  padding: 10px;
  border-radius: 15px;
  background-color: var(--primary);
  color: var(--text-on-primary);
  border: none;
  cursor: pointer;
  }

.themeButton:hover {
  background-color: var(--secondary);
}

.chat {
  display: flex;
  flex-direction: row;
  width: calc(100vw - 250px);
  height: 100vh;
}
