.header{
    cursor: pointer;
    border: solid 1px #f2f2f2;
    padding: 15px;
    background-color: #0089CC;
    color: #FFF;
    font-family: verdana;
    margin-left:10px;
    margin-right:10px;
  }


.content{
    cursor: pointer;
    border-left: solid 1px #f2f2f2;
    border-right: solid 1px #f2f2f2;
    border-bottom: solid 1px #f2f2f2;
    border-radius: 0 0 5px 5px;
    margin-left:15px;
    margin-right:15px;
    padding: 5px;
    font-family: verdana;
    font-size: 14px;
  }
  
  .headerTitle {
    margin-left:5px;
    margin-right:5px;
    text-align: center;
  }

  div {
    white-space: pre-wrap;
    flex: 1;
  }