#settings {
  padding: 20px;
  font-size: 1.1em;
}

#settings label {
  display: inline-block;
}

#settings button.action {
  display: inline-block;
  width: 140px;
  height: 50px;
  margin-top: 10px;
  margin-right: 10px;
  padding-bottom: 5px;

  font-family: var(--font-body);
  font-size: 1.2em;

  outline: none;
  border: none;
  border-radius: 0;

  cursor: pointer;
  transform: scale(1);
  transition: transform 0.3s, opacity 0.3s;
}

#settings button#save:disabled {
  transform: scale(1);
  opacity: 0.5;
}

#settings button#save {
  background-color: var(--accept);
  color: var(--text-on-accept);
}

#settings button#cancel {
  border: var(--reject) 2px solid;
  background-color: #fff;
}

#settings a {
  text-decoration: none;
  color: var(--reject);
  display: block;
}

#settings .action:hover {
  transform: scale(1.1);
  opacity: 0.8;
}

@media all and (orientation:portrait) {
  .profile-container {
    flex-direction: column;
    padding: 0 20px;

  }
}

@media all and (orientation:landscape) {
  .profile-container {
    flex-direction: row;
    padding: 20px;
  }
  .profile-child {
    width: 50%;
  }
}


.profile-container {
  width: calc(100vw - 290px);
  display: flex;
  align-items: flex-start;
}


.mantine-radio-group-label {
  font-size: 14px;
}

.mantine-Checkbox-root {
  margin-top: 20px;
}

.question {
  margin-bottom: 10px;
}
