#settings {
   padding: 20px;
   font-size: 1.1em;
}

#settings label {
   display: inline-block;
   width: 140px;
   margin-top: 20px;
}

#settings button {
   display: inline-block;
   width: 140px;
   height: 50px;
   margin: 10px;
   padding-bottom: 5px;

   font-family: var(--font-body);
   font-size: 1.2em;

   outline: none;
   border: none;
   border-radius: 0;

   cursor: pointer;
   transform: scale(1);
   transition: transform 0.3s, opacity 0.3s;
}

#settings button:first-of-type {
   margin-top: 40px;
   margin-left: 140px;
}

#settings button.done {
   background-color: var(--accept);
   color: var(--text-on-accept);
}

#settings button.cancel {
   border: var(--reject) 2px solid;
   background-color: #fff;
   color: var(--reject);
}

#settings button.loading {
   filter: grayscale();
}

#settings button.loading svg {
   vertical-align: middle;
}

#settings button:not(.loading):hover, #settings button:not(.loading):focus {
   transform: scale(1.1);
   opacity: 0.8;
}
