section#login,
section#register {
  display: flex;
  width: 100vw;
  height: calc(100 * var(--vh));
  overflow: scroll;
  background-image: var(--login-background);
  background-color: var(--primary);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  align-items: center;
}

section#login form,
section#register form,
.about {
  display: inline-block;
  width: min(400px, 85vw);
  border-radius: 10px;
  background-color: #fff;
  box-shadow: 15px 8px 8px rgba(0, 0, 0, 0.55);

}

.terms {
  position: absolute;
  padding: 25px;
  left: 50%;
  top: 50%;
  z-index: 100;
  transform: translate(-50%, -50%);
  display: none;
  background-color: #fff;
  box-shadow: 0px 0px 50vw 15vw rgba(0, 0, 0, 0.7);
  border-radius:10px;
  align-items: center;
  justify-content: center;
}

@media all and (orientation: portrait) {
  .terms {
    width: 70vw;
  }
  .container {
    flex-direction: column;
  }
  section#login form, .about {
    margin-top: 2vh;
  }
}

@media all and (orientation: landscape) {
  .terms {
    width: 35vw;
  }
  .container {
    flex-direction: row;
  }

  section#login form {
    margin-left: auto;
    margin-right: 5vw;
    margin-bottom: 0;
    margin-top: 200px;
  }
  .about {
    margin-right: auto;
    margin-left: 5vw;
    margin-top: 0;
    margin-bottom: 200px;
  }

}


.terms strong {
  position: relative;
  display: inline-block;
  font-size: 24px;
  left: 50%;
  transform: translate(-50%, 0);
}

.terms ol {
  width: 90%;
  padding-top: 10px;
  text-align: left;
  font-size: 18px;
  line-height:30px;
}

.container {
  width: 95%;
  margin: auto;
  display: flex;
  height: 100%;
  align-items: center;
}


.about {
  font-size: 22px;
  padding: 10px 30px 30px 30px;
}

p#ToS {
  font-size: 16px;
  color: red;
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
}

section#login form {
  padding: 50px 30px 30px 30px;
}

section#register form {
  padding: 50px 30px 20px 30px;
  margin: 2vh auto;
}

.closetos {
  position: relative;
  top: 30%;
  left: 50%;
  transform: translate(-50%, 0);
  width: 40%;
}

section#login form label,
section#register form label {
  display: inline-block;
  width: 100%;
  margin: 20px 0 8px 0;
  font-weight: bold;
}

section#login form label:first-of-type
section#regiser form label:first-of-type {
  margin-top: 0;
}

section#login form input,
section#register form input {
  width: calc(100% - 22px);
  padding: 10px;
  border: 1px #ddd solid;
  border-radius: 0;
}

section#login form button,
section#register form button {
  width: 100%;
  margin: 15px 0 0 0;
}

section#login form button,
section#register form button,
.closetos {
  padding: 10px;
  background-color: var(--primary);
  color: var(--text-on-primary);
  font-weight: bold;
  font-size: 1em;
  border: none;
  border-radius: 0;
  transition: background 0.2s, color 0.2s;
  cursor: pointer;
}

section#login form button:hover,
section#register form button:hover,
.closetos:hover {
  background-color: var(--secondary);
  color: var(--text-on-secondary);
}

section#login form span.error
section#register form span.error {
  color: rgb(228, 83, 83);
}
