.chatSidebar {
   height: calc(100vh - 20px);
   width: 300px;
   min-width: 300px;
   padding: 10px;

   border-right: 1px #ddd solid;

   overflow-y: auto;
}

.chatPreview {
   padding: 15px 5px;
   border-radius: 12px;
   margin-top: 2px;

   display: flex;
   flex-wrap: wrap;
   align-items: center;

   cursor: pointer;

   transition: background 0.1s;
}

.chatPreview:hover, .chatPreview.active {
   background: #eee;
}

.chatPreview div.text {
   flex-grow: 2;
}

.chatPreview h4, .chatPreview p {
   margin: 0;
   font-weight: normal;
}

.chatPreview h4 {
   font-size: 1em;
}

.chatPreview p {
   color: #888;
   margin-top: 3px;
   font-size: 0.85em;
}

.chatPreview p span.messagePreview, .chatPreview h4 {
   display: inline-block;
   white-space: nowrap;
   overflow: hidden;
   text-overflow: ellipsis;
   max-width: 150px;
   vertical-align: top;
}

.chatPreview.unread p, .chatPreview.unread h4 {
   font-weight: bold;
}

.chatPreview.unread p {
   color: #333;
}

.chatPreview .smallDivider {
   display: inline-block;

   width: 3px;
   height: 3px;
   margin: 0 4px;

   vertical-align: middle;

   background: #888;
   border-radius: 50%;
}

.chatPreview.unread .smallDivider {
   background: #000;
}

.chatPicture {
   width:45px;
   height:45px;
   margin-right: 10px;
   margin-left: 5px;

   background-size: cover;
   background-position: center;

   border-radius: 50%;
}

.chatPreview .unread {
   width: 12px;
   height: 12px;
   margin-right: 5px;
   background: var(--primary);
   border-radius: 50%;
}
