.chatWindow {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: 100vh;
}

.hidden {
  display: none;
}

.reportFloatingWindow {
  position: fixed;
  display: block;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
  border-radius: 5px;
  width: 50%;
  height: 50%;
  top: 20%;
  padding-top: 2%;
  background-color: white;
}

.reportFloatingWindow .mantine-MultiSelect-root {
  margin: 0 auto;
  width: 50%;
}

.reportFloatingWindow textarea {
  width: 95%;
  height: 50%;
  resize: none;
  display: block;
  margin: 0 auto;
  margin-top: 3%;
}

.exitButton {
  transform: scale(2);
  float: right;
  margin: -3% 5% 0 0;
}

#submit {
  position: relative;
  margin: 3% 5% 0 0;
  float: right;
  transform: scale(2) scaleX(2);
}

.exitButton,
#submit {
  background: none;
  border: none;
  cursor: pointer;
}

/*
New message box
*/

.newMessageBox {
  height: 40px;
  width: calc(100% - 20px);
  padding: 10px;
  display: flex;
  justify-content: center;
  vertical-align: middle;
}

.newMessageBox input {
  border: none;
  background: #eee;
  border-radius: 999px;
  flex-grow: 1;
  vertical-align: middle;
}

.newMessageBox input:focus {
  outline: none;
}

.newMessageBox p {
  display: inline-block;
  width: 30px;
  height: 30px;
  margin: 0 10px;
  padding: 5px;
  vertical-align: middle;
  text-align: center;
  font-size: 25px;
  border-radius: 50%;
  transition: background 0.1s;
  cursor: pointer;
}

.newMessageBox p:hover {
  background: #eee;
}

/*
Messages
*/

.message {
  max-width: 60%;
  margin-bottom: 14px;
  display: flex;
  align-items: flex-end;
}

.message.rightSide {
  align-self: flex-end;
  flex-direction: row-reverse;
  text-align: right;
}

.message.mergeBottom {
  margin: 0 60px 2px 60px;
}

.messageImage {
  width: 39px;
  min-width: 39px;
  height: 39px;
  border-radius: 50%;
  margin: 0 10px;
  background-size: cover;
  background-position: center;
}

.messageName {
  margin: 0 10px;
  color: #888;
  font-size: 0.8em;
}

.messageContent {
  flex-grow: 1;
  padding: 10px;
  border-radius: 20px;
  background: #eee;
}
.messageTimestamp {
  margin: 6px 4px 2px 4px;
  color: #888;
  font-size: 0.8em;
}

.message.rightSide .messageContent {
  background: var(--primary);
  color: var(--text-on-primary);
  text-align: left;
}

.message.mergeBottom:not(.rightSide) .messageContent {
  border-bottom-left-radius: 4px;
}

.message.mergeTop:not(.rightSide) .messageContent {
  border-top-left-radius: 4px;
}

.message.mergeBottom.rightSide .messageContent {
  border-bottom-right-radius: 4px;
}

.message.mergeTop.rightSide .messageContent {
  border-top-right-radius: 4px;
}

/*action buttons*/
.chatWindowHeader {
  position: fixed;
  top: 0;
  width: 55%;
  background-color: white;
  border: 1px #eee solid;
  text-align: right;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.chatWindowHeader > button {
  text-align: center;
  min-width: 85px;
  padding: 10px;
  background-color: var(--primary);
  color: var(--text-on-primary);
  border: none;
  border-radius: 15px;
  font-size: 1em;
  cursor: pointer;
}

.chatWindowHeader > button:hover {
  background-color: var(--secondary);
}

.chatWindowHeader input {
  width: 20%;
}

.chatTitle {
  display: inline-block;
  margin-block-end: 0;
  margin-block-start: 0;
  min-width: 100px;
  max-width: 400px;
  padding: 5px;
}
.chatTitle:hover {
  background-color: #eee;
}

.chatWindowHeader input,
.chatWindowHeader h3,
.chatWindowHeader button {
  margin: 15px 8px 15px;
}

.chatWindowHeader div {
  margin: 0px;
}

.chatScrollBox {
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  overflow: scroll;
  height: calc(100% - 140px);
}
