.github-card {
   padding: 10px;

   border-radius: 8px;
   border: 1px solid #d9d9d9;
   
   box-shadow: 0 0 0 #0000;
   transition: box-shadow 0.3s;
}

.github-card:hover {
   box-shadow: 0 3px 10px #0002;
}

.github-card img.githubImage {
   width: 80px;
   height: 80px;
   left: 0;
   border-radius: 50%;
   border: 1px solid #aaa;
}

.github-card > a {
   display: flex;
   flex-direction: row;
   align-items: top;
   text-decoration: none;
}

.github-card h5 {
   font-size: 2em;
   margin: 0 10px;
   color: #000;
}

.github-card p {
   font-size: 1em;
   margin: 0 10px;
   color: #000;
}

.github-card p.ligher {
   color: #aaa;
}

.github-card .githubLogo {
   width: 50px;
   height: 50px;
   margin-top: 14px;

   color: #0000;

   background-image: url('/GitHub-Mark-120px-plus.png');
   background-size: contain;
   background-repeat: no-repeat;
}
