nav#navbar {
  position: fixed;
  overflow-y: auto;

  height: calc(100vh - 40px);
  padding: 20px 0;
  z-index: 1;

  background-color: var(--primary);
}

#navbar-spacing {
  width: 250px;
}

nav#navbar a {
  display: block;
  width: 200px;
  padding: 20px;
  border-left: #fff0 10px solid;
  border-bottom: #fff3 1px solid;

  color: var(--text-on-primary);
  text-decoration: none;
  font-size: 1.2em;
}

nav#navbar a:first-of-type {
  border-bottom: none;
}

nav#navbar a:nth-of-type(2) {
  margin-top: 40px;
}

nav#navbar a:hover {
  border-left: #ffffff19 10px solid;

  background-color: #ffffff09;
}

nav#navbar a.active {
  border-left: #fff3 10px solid;

  background-color: #fff2;
}
