#swipe-profile .swipe-profile {
  margin: 50px auto;
}

.swipe-profile {
  min-width: 300px;
  width: 50%;
  padding: 20px;
  background: #fff;
  box-shadow: -10px -20px 50px var(--primary-transparent),
    10px 20px 50px var(--secondary-transparent);

  border-radius: 20px;

  position: relative;
  filter: grayscale(0);

  cursor: pointer;
  transition: left 0.5s, top 0.5s, transform 0.5s, border 0.4s, box-shadow 0.3s,
    opacity 0.8s, filter 0.8s;
}

.swipe-profile h3 {
  margin: 0;
  font-size: 3.5em;
  font-weight: normal;
  word-wrap: break-word;
}

.swipe-profile h4 {
  margin: 10px 0;
  font-size: 2em;
  font-weight: normal;
  word-wrap: break-word;
}

.swipe-profile.dragged {
  transition: box-shadow 0.3s, opacity 0.8s, filter 0.8s;
}

.swipe-profile.accept-side {
  box-shadow: -10px -20px 80px var(--primary-less-transparent),
    10px 20px 80px var(--secondary-less-transparent);
  background: rgb(50, 205, 50);
  transition: background 0.3s;
}

.swipe-profile.accept-side img {
  opacity: 0.5;
  transition: opacity 0.3s;
}

.swipe-profile.reject-side {
  box-shadow: 0px 0px 50px var(--primary-transparent);
  background: rgb(255, 0, 0);
  transition: background 0.3s;
}

.swipe-profile.reject-side img {
  opacity: 0.5;
  transition: opacity 0.3s;
}

.swipe-profile.reject-committed-side {
  left: -100vw !important;
  background: rgb(255, 0, 0);
}

.swipe-profile.accept-committed-side {
  left: 100vw !important;
  background: rgb(50, 205, 50);
}

.swipe-profile p {
  white-space: pre-line;
}

.swipe-profile img {
  position: relative;
  width: 80%;
  left: 30px;
}

.arrows {
  width: 100%;
  display: flex;
  margin: 0 auto;
  justify-content: space-between;
}

.arrow {
  width: 75px;
  height: 75px;
  padding-bottom: 15px;
}

.left {
  float: left;
  margin: 0 10vw;
  border: 0;
}

/* .left:hover {
   background: rgb(50,205,50);
   transition: background 0.3s;
} */

.right {
  float: right;
  margin: 0 10vw;
  border: 0;
}

/* .right:hover {
   background: rgb(255,0,0);
   transition: background 0.3s;
} */
